<html>
<head>
    <title>{{title}}</title>
    <script type="module" src="/lib/vue.min.js"></script>
    <script type="module" src="/app.js"></script>
</head>
<body>
    <div id="vue-app">
        <hello-component name={{name}}></hello-component>
    </div>
</body>